{% extends config.getParameter('base_template') %}

{% block content %}
    <h1 class="page-header">{{ 'lag.admin.batch_action_title' | trans }}</h1>

    <form action="{{ path(admin.generateRouteName('batch')) }}" method="post">
    <div class="panel panel-red">
        <div class="panel-heading">{{ 'lag.admin.warning' | trans }}</div>
        <div class="panel-body">
            {% set actionKey = ('lag.admin.' ~ form['batch_action'].vars.value) | trans | lower %}
            {{ 'lag.admin.batch_action_messages' | trans({'%action%': actionKey}) }}

            <ul>
            {% for child in form.entity_ids %}
                <li>
                    "{{ form.vars.labels[child.vars.value] }}"
                </li>
            {% endfor %}
            </ul>

            {{ form_rest(form) }}
        </div>
        <div class="panel-footer">
            <a href="">
                <i class="fa fa-arrow-circle-left"></i>  {{ 'lag.admin.cancel' | trans }}</a>
            <button type="submit" value="save" name="submit" class="btn btn-danger">
                {{ actionKey | capitalize }}  <i class="fa fa-floppy-o"></i></button>
        </div>
    </div>
    </form>
{% endblock %}
