<div class="dropdown mb-4 mt-3">
    <a href="#"
       data-controller="show"
       data-target=".admin-filters">
        {{ 'lag_admin.ui.show_filters'|trans({}, 'admin') }}
    </a>
    <div class="admin-filters animated--fade-in d-none">
        <div id="admin-filters" class="card">
            <div class="card-body">
                {{ form_start(form) }}

                <h2>{{ 'lag_admin.ui.filter'|trans({}, 'admin') }}</h2>

                {{ form_errors(form) }}

                <div class="row">
                    {% for child in form %}
                        <div class="col-6">
                            {{ form_row(child) }}
                        </div>
                    {% endfor %}
                </div>

                <div class="text-right btn-group"
                     role="group">
                    {% if resource.hasOperation('index') %}
                        <a href="{{ lag_admin_operation_url(resource.operation('index')) }}"
                           class="btn btn-secondary">
                            <i class="fas fa-eraser"></i>
                            {{ 'lag_admin.ui.reset'|trans({}, 'admin') }}
                        </a>
                    {% endif %}

                    <button type="submit"
                            class="btn btn-success">
                        {{ 'lag_admin.ui.filter'|trans({}, 'admin') }}
                        <i class="fas fa-filter"></i>
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

