{% extends '@LAGAdmin/base.html.twig' %}

{% block body %}
    <body class="bg-gradient-primary">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                {{ block('content') }}
            </div>
        </div>
    </div>
    </body>
{% endblock %}

{% block content %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6 admin-login-container">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{{ 'lag_admin.security.welcome'|trans({}, 'lag_admin') }}</h1>
                        </div>

                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <form action="{{ path('lag_admin_login') }}"
                              method="post"
                              class="user">
                            <div class="mb-3">
                                <label for="username">Email:</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="password">Mot de passe:</label>
                                <input type="password" id="password" name="_password" required>
                            </div>
                            <div class="mb-3">
                                <input type="hidden"
                                       name="_csrf_token"
                                       data-controller="csrf-protection"
                                       value="{{ csrf_token('authenticate') }}">
                                <input type="submit"
                                       class="btn btn-primary btn-user btn-block"
                                       value="Se connecter">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
