{% extends '@LAGAdmin/menu/menu-base.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        {% set classes = listAttributes.class|default('') %}
        {% set classes = classes ~ ' dropdown-menu text-small' %}
        {% set listAttributes = listAttributes|merge({'class': classes, 'aria-labelledby': 'dropdown-user'}) %}

        <a href="#"
           class="d-block link-dark text-decoration-none dropdown-toggle"
           id="dropdown-user"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            <img src="https://github.com/mdo.png"
                 alt="mdo"
                 class="rounded-circle"
                 width="32"
                 height="32">
        </a>

        <ul{{ knp_menu.attributes(listAttributes) }}>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block linkElement %}
    {% import _self as knp_menu %}
    {% set attributes = item.linkAttributes|merge({'class': 'dropdown-item'}) %}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(attributes) }}>{{ block('label') }}</a>
{% endblock %}
