<div class="dropdown mb-4 mt-3">
    <button class="btn btn-primary dropdown-toggle no-arrow"
            type="button"
            id="filter-button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        {{ 'show_filters'|admin_ui_trans }}
    </button>
    <div class="dropdown-menu animated--fade-in" aria-labelledby="filter-button">
        <div id="admin-filters">
            <div class="card-body">
                {{ form_start(form) }}
                <h2>{{ 'filter'|admin_ui_trans }}</h2>

                {{ form_errors(form) }}

                <div class="row">
                    {% for child in form %}
                    <div class="col">
                        {{ form_row(child) }}
                    </div>
                    {% if loop.index is divisible by (2) %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="text-right btn-group"
                     role="group">
                    <a href="{{ admin_url(admin.name, 'index') }}"
                       class="btn btn-secondary">
                        <i class="fas fa-eraser"></i>
                        {{ 'reset_filters'|admin_ui_trans }}
                    </a>
                    <button type="submit"
                            class="btn btn-success">
                        {{ 'filter'|admin_ui_trans }}
                        <i class="fas fa-filter"></i>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

