<div class="dropdown mb-4">
    <div class="admin-filters animated--fade-in{% if not form.vars.submitted%} d-none{% endif %}">
        <div id="admin-filters" class="card">
            <div class="card-body">
                {{ form_start(form) }}

                <h4>{{ 'lag_admin.ui.filter'|trans({}, 'admin') }}</h4>

                {{ form_errors(form) }}

                <div class="row">
                    {% for child in form %}
                        <div class="col-6">
                            {{ form_row(child) }}
                        </div>
                    {% endfor %}
                </div>

                <div class="text-right btn-group"
                     role="group">
                    <a href="{{ app.request.pathInfo }}"
                       class="btn btn-outline-secondary">
                        <i class="fas fa-eraser"></i>
                        {{ 'lag_admin.ui.reset'|trans({}, 'admin') }}
                    </a>

                    <button type="submit"
                            class="btn btn-success">
                        {{ 'lag_admin.ui.filter'|trans({}, 'admin') }}
                        <i class="fas fa-filter"></i>
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <a href="#"
       data-controller="show"
       data-target=".admin-filters"
       data-show-message="{{ 'lag_admin.ui.show_filters'|trans({}, resource.translationDomain) }}"
       data-hide-message="{{ 'lag_admin.ui.hide_filters'|trans({}, resource.translationDomain) }}">
        {% if not form.vars.submitted%}
            {{ 'lag_admin.ui.show_filters'|trans({}, resource.translationDomain) }}
        {% else %}
            {{ 'lag_admin.ui.hide_filters'|trans({}, resource.translationDomain) }}
        {% endif %}
    </a>
</div>

