{% if grid.title %}
    {% if grid.title %}
        <h3 {{ lag_attributes(grid.titleAttributes).defaults({class: 'my-2 mb-5'}) }}>
            {{ title|trans(translationDomain) }}
        </h3>
    {% endif %}
{% endif %}

<div {{ attributes.defaults({class: 'admin row g-2'}) }}>
    {% for row in grid.rows %}
        <div class="col">
            <div {{ lag_attributes({class: 'card h-100'}) }}>
                {% for cell in row.cells %}
                    {{ component('lag_admin:grid:cell', {
                        cell: cell,
                        data: cell.data,
                        ...cell.attributes,
                    }) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
