{% import '@LAGAdmin/grids/macro/helpers.html.twig' as lag_admin %}

{% if grid.title %}
    <h3 {{ titleAttributes.defaults({class: 'my-2'}) }}>
        {{ lag_admin.translate(grid.title, resource.translationDomain, true) }}
    </h3>
{% endif %}

<div {{ attributes.defaults({class: 'admin row g-2'}) }}>
    {% for row in grid.rows %}
        <div class="col">
            <div class="card h-100">
                {% for cell in row.cells %}
                    {% if cell.name == options.thumbnail|default(false) %}
                        {{ lag_admin_cell(cell, {attributes: {class: 'card-img-top'}}) }}
                    {% elseif cell.template %}
                        {% set defaultAttributes = loop.last ? {class: 'card-footer'} : {class: 'card-body'} %}

                        <div {{ cellAttributes.defaults(defaultAttributes|merge(cell.containerAttributes)) }}>
                            {{ lag_admin_cell(cell) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
