{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@LAGAdmin/debug/icon.svg') }}
        <span class="sf-toolbar-value">LAG Admin</span>
    {% endset %}

    {% set text %}
        <strong>LAG Admin</strong>

        <div class="sf-toolbar-info-piece">
            <b>Application</b>
            <span class="sf-toolbar-status ">{{ collector.data.application }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Resource</b>
            <span class="sf-toolbar-status ">{{ collector.data.resource }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Operation</b>
            <span class="sf-toolbar-status ">{{ collector.data.operation }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', {'link': true}) }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            {{ include('@LAGAdmin/debug/icon.svg') }}
        </span>
        <strong>LAG Admin</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>LAG Admin</h2>

    <h3>Request</h3>
    <table style="width: 50%">
        <tbody>
        <tr>
            <th style="width: 150px">Application</th>
            <td>"{{ collector.data.application }}"</td>
        </tr>
        <tr>
            <th>Resource</th>
            <td>"{{ collector.data.resource }}"</td>
        </tr>
        <tr>
            <th>Operation</th>
            <td>"{{ collector.data.operation }}"</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
