{% extends 'LAGAdminBundle::admin.layout.html.twig' %}

{% block container %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% block login_title %}{{ 'layout.login'|trans({}, 'FOSUserBundle') }}{% endblock %}</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
                    <fieldset>
                        {% if error %}
                            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   required="required" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="password" value="" name="_password" placeholder="Password" class="form-control">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Remember Me" name="_remember">
                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                        <input type="submit" id="_submit" name="_submit"
                               value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
                               class="btn btn-lg btn-success btn-block"/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
