{% if filterForm is defined %}
    <form action=""
          method="get"
          class="form-inline">
        <span class="text-danger">
            {{ form_errors(filterForm) }}
        </span>

        {% for child in filterForm %}
            {{ form_widget(child) }}
        {% endfor %}

        <a href="{{ admin_url('list', admin) }}">{{ 'lag.admin.filter_reset' | trans }}</a>

        &nbsp;

        <input type="submit"
               value="{{ 'lag.admin.filter' | trans }}"
               class="btn btn-sm btn-secondary"/>
    </form>
{% endif %}
