{% extends 'bootstrap_5_layout.html.twig' %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="form-text">{% else %}<div class="alert alert-danger">{% endif %}

        <ul class="list-unstyled">
            {%- for error in errors -%}
                <li><span class="fa fa-exclamation-triangle"></span> {{ error.message }}</li>
            {%- endfor -%}
        </ul>

        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block collection_widget %}
    {% set data = form.vars.data %}
    {% set add_label = form.vars.add_label|default('lag_admin.ui.add')|trans({}, translation_domain|default('admin')) %}
    {% set delete_label = form.vars.delete_label|default('lag_admin.ui.delete')|trans({}, translation_domain|default('admin')) %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' collection-widget')|trim}) -%}

    <div {{ block('widget_attributes') }}
         {{ stimulus_controller('lag-admin-collection') }}
         data-index-value="{{ data|length > 0 ? data|length + 1 : 0 }}"
         data-delete-label="{{ delete_label }}"
         data-target=".collection-container"
         {% if prototype is defined %}
         data-prototype-value="{{ _self.collection_item(
             form.vars.prototype,
             form.vars.allow_delete,
             delete_label,
             '__name__'
         )|e }}"
         {% endif %}>

        <div class="collection-container">
            {% for child in form %}
                {{ _self.collection_item(child, allow_delete, delete_label, loop.index0) }}
            {% endfor %}
        </div>

        {% if form.vars.allow_add %}
            <div class="button-container mt-1">
                <button type="button"
                        class="btn btn-primary add-button"
                        {{ stimulus_action('lag-admin-collection', 'addCollectionElement') }}>
                    {{ add_label }}
                </button>
            </div>
        {% endif %}
    </div>
{% endblock collection_widget %}

{% macro collection_item(form, allow_delete, delete_label, index) %}
    {% set attr = form.vars.attr|merge({class: (form.vars.attr.class|default('') ~ ' collection-item')|trim}) -%}

    {% apply spaceless %}
        <div data-form-collection="item"
             data-form-collection-index="{{ index }}"
             {{ block('attributes') }}>
            <div class="collection-box{% if form|length == 1 %} unique-field{% endif %}">
                {{ form_row(form) }}

                {% if allow_delete %}
                    <p class="text-right">
                        <a href="#"
                           {{ stimulus_action('lag-admin-collection', 'removeCollectionElement') }}
                           data-form-collection-index="{{ index }}"
                           class="btn btn-danger">
                            <i class="glyphicon glyphicon-remove collection-button-remove"></i>
                            {{ delete_label }}
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endapply %}
{% endmacro %}

{% block select2_entity_widget %}
    <div class="">
        {{ block('choice_widget_collapsed') }}
    </div>
{% endblock %}

{%- block datetime_row -%}
    <div class="mb-3">
        {{ form_row(form) }}
    </div>
{%- endblock datetime_row -%}

{%- block datetime_widget -%}
    {%- if widget == 'single_text' -%}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        {% if not valid %}
            {% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
            {% set valid = true %}
        {% endif %}

        {% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}

        <div {{ block('widget_container_attributes') }}>
            <div class="col-8">
                {{- form_widget(form.date, { datetime: true } ) -}}
                {{- form_errors(form.date) -}}
            </div>
            <div class="col">
                {{- form_widget(form.time, { datetime: true } ) -}}
                {{- form_errors(form.time) -}}
            </div>
        </div>
    {%- endif -%}
{%- endblock datetime_widget %}

{% block lag_admin_image_widget %}
    {% if data %}
        <div class="lag-admin image-card d-flex">
            <a href="{{ data.path|imagine_filter(form.vars.image_full_filter) }}"
               class="card"
               target="_blank">
                <img src="{{ data.path|imagine_filter(form.vars.image_filter) }}"
                     alt="{{ data.name|default('') }}">
            </a>
        </div>
    {% endif %}

    {{ form_widget(form) }}
{% endblock %}

{% block lag_admin_image_choice_widget %}
    {% set data = form.vars.data %}

    <a href="#"
       data-controller="lag-admin-modal"
       data-action="lag-admin-modal#openModal:prevent"
       data-target="#{{ form.vars.id }}-modal">
        {{ 'lag_admin.image.add_image'|trans({}, 'admin') }}
    </a>

    <div id="{{ form.vars.id }}-modal"
         class="modal fade"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content" style="min-height: 325px">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'lag_admin.image.add_image'|trans({}, 'admin') }}</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs"
                        role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"
                               data-bs-toggle="tab"
                               data-bs-target="#upload-tab"
                               href="#">{{ 'lag_admin.image.upload_from_computer'|trans({}, 'admin') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               data-bs-toggle="tab"
                               data-bs-target="#gallery-tab"
                               href="#">{{ 'lag_admin.image.choose_in_gallery'|trans({}, 'admin') }}</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="upload-tab"
                             class="tab-pane show"
                             role="tabpanel"
                             tabindex="0">
                            {{ form_row(form.upload) }}
                        </div>
                        <div id="gallery-tab"
                             class="tab-pane"
                             role="tabpanel"
                             tabindex="1">
                            {{ form_row(form.gallery) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal">
                        {{ 'lag_admin.ui.save'|trans({}, 'admin') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock lag_admin_image_choice_widget %}

{% block lag_admin_gallery_widget %}
    {% set images = form.vars.choices %}

    {% if images|length > 0 %}
        <div class="row row-cols-3 g-4">
            {% for image in images %}
                <div class="col">
                    <div class="card">
                        <img src="..."
                             class="card-img-top"
                             alt="...">
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info"
             role="alert">
            {{ 'lag_admin.image.no_image_in_gallery'|trans({}, 'admin') }}
        </div>
    {% endif %}
{% endblock lag_admin_gallery_widget %}

{% block lag_admin_textarea_widget %}
    <div data-controller="lag-admin-textarea"
         data-toolbar="{{ form.vars.toolbar }}"
         data-name="{{ form.vars.full_name }}">
        {{ form_widget(form) }}
    </div>
{% endblock lag_admin_textarea_widget %}
