{% spaceless %}
    {% if route %}
        {% set url = path(route, parameters) %}
    {% elseif not url %}
        {% set url = text %}
    {% endif %}
    <a href="{{ url }}" target="{{ target }}" title="{{ title | trans }}">{% spaceless %}
        {# font awesome icons #}
        {% if icon %}<i class="fa fa-{{ icon }}"></i>{% endif %}
        {{ text | trans }}
        {% endspaceless %}</a>
{% endspaceless %}
