<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <title>
        {% block title %}{{ admin_config('title') }}{% endblock %}
    </title>
    {% block meta %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description"
              content="{{ admin_config('description') }}"/>
    {% endblock %}

    {% block favicon %}
        <link rel="shortcut icon"
              href="{{ asset('/bundles/lagadmin/favicon.ico') }}"
              type="image/x-icon">
        <link rel="icon"
              href="{{ asset('/bundles/lagadmin/favicon.ico') }}"
              type="image/x-icon">
    {% endblock %}

    {% block admin_stylesheets %}
        {#        <link rel="stylesheet" href="{{ asset('/bundles/lagadmin/sb-admin-css.css') }}"/> #}
        <link rel="stylesheet"
              href="{{ asset('/bundles/lagadmin/fa.css') }}"/>
        <link rel="stylesheet"
              href="{{ asset('/bundles/lagadmin/admin.css') }}"/>

        {% if admin_media_enabled() %}
            <link rel="stylesheet"
                  href="{{ asset('/bundles/jkmedia/assets/media.css') }}"/>
        {% endif %}
    {% endblock %}

    {% block stylesheets %}{% endblock %}
    {% block head_javascripts %}{% endblock %}

    {% block head %}{% endblock %}
</head>

{% block body %}
    <body>
    {% block header %}
        {% include '@LAGAdmin/layout/header.html.twig' %}
    {% endblock %}

    {% block container %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                {% block sidebar %}
                    {% include '@LAGAdmin/layout/sidebar.html.twig' %}
                {% endblock %}
            </div>
            <div class="col py-3">
                {% block page_title_container %}
                    <h1 class="h3 mb-1 text-gray-800">
                        {% block page_title %}{{ admin.title | trans }}{% endblock %}
                    </h1>
                {% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block admin_javascripts %}
        {% if admin_media_enabled() %}
        {# Media js should always be called before the admin js to preserve tinymce media working #}
        <script src="{{ asset('/bundles/jkmedia/assets/media.js') }}"></script>
        {% endif %}
        {#        <script src="{{ asset('/bundles/lagadmin/jquery.js') }}"></script> #}
        {#        <script src="{{ asset('/bundles/lagadmin/jquery-easing.js') }}"></script> #}
        {#        <script src="{{ asset('/bundles/lagadmin/bootstrap.js') }}"></script> #}
        {#        <script src="{{ asset('/bundles/lagadmin/sb-admin.js') }}"></script> #}
        <script src="{{ asset('/bundles/lagadmin/admin.js') }}"></script>
    {% endblock %}

    {% block javascripts %}{% endblock %}

    {% block modal %}
        {% include '@LAGAdmin/modal/modal.html.twig' %}
    {% endblock %}

    {% if admin_media_enabled() %}
        {% include '@JKMedia/Modal/modal.html.twig' %}
    {% endif %}
    </body>
{% endblock %}
</html>

{# {% block body %} #}
{# {% set admin = admin|default(null) %} #}

{# <body> #}
{# {% block navbar %} #}
{# {% include '@LAGAdmin/Layout/header.html.twig' %} #}
{# {% endblock %} #}

{# {% block container %} #}
{# <div id="admin-main-container" #}
{# class="container-fluid"> #}
{# <div class="row"> #}
{# {% block layout %} #}
{# {% block left_menu %} #}
{# <nav class="col-2 d-none d-md-block sidebar"> #}
{# {{ knp_menu_render('left') }} #}
{# </nav> #}
{# {% endblock %} #}

{# {% block content_container %} #}
{# <main class="col-10 content-container" #}
{# role="main"> #}

{# {% block flash_messages %} #}
{# {% include "@LAGAdmin/Layout/flash_messages.html.twig" %} #}
{# {% endblock %} #}

{# {% block content %}{% endblock %} #}
{# </main> #}
{# {% endblock %} #}
{# {% endblock %} #}
{# </div> #}
{# </div> #}
{# {% endblock %} #}

{# {% block footer %} #}
{# <footer> #}
{# {% block admin_javascripts %} #}
{# <script src="{{ asset('/bundles/lagadmin/assets/admin.js') }}"></script> #}

{# Inject scripts in footer section #}
{# {{ admin_dump_scripts('footer') | raw }} #}
{# {% endblock %} #}
{# {% block javascripts %}{% endblock %} #}
{# </footer> #}
{# {% endblock %} #}
{# </body> #}
{# {% endblock %} #}
{# </html> #}
