{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        {# Fix a bug in knp with menu attributes not renderer #}
        <ul {{ knp_menu.attributes(item.attributes) }}>
            {% if item.extra('brand') | default(false) %}
                <a class="sidebar-brand d-flex align-items-center justify-content-center"
                   href="{{ path('lag_admin.homepage') }}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-lemon"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">{{ admin_config('title') }}</div>
                </a>
                <hr class="sidebar-divider my-0">
            {% endif %}
        
            {% if item.extra('homepage') | default(false) %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('lag_admin.homepage') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
                <hr class="sidebar-divider my-0">
            {% endif %}
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block label %}
    {% if item.getExtra('icon', false) %}
        <i class="{{ item.getExtra('icon', false) }}"></i>
    {% endif %}
    {{ item.label|trans({}, admin_config('translation').catalog) }}
{% endblock %}
