<ul class="{{ menu.containerCssClasses | join(' ') }}">
    {% for item in menu.items %}
        <li class="{{ menu.itemCssClasses | join(' ') }}">
            <a href="{{ admin_menu_action(item.configuration, admin) }}"
               class="nav-link"
               title="{{ item.text | trans }}">
                {{ item.text | trans }}
            </a>
        </li>
    {% endfor %}
</ul>
