{% extends '@LAGAdmin/crud/operation.base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-header text-white bg-danger">
            {{ 'lag_admin.ui.warning'|trans({}, resource.translationDomain) }}
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form) }}
            <h5 class="card-title">
                {{ operation.title|default('lag_admin.delete.title')|trans({}, resource.translationDomain) }}
            </h5>
            <p class="card-text">
                {{ 'lag_admin.delete.message'|trans({}, resource.translationDomain) }}
            </p>
            <div class="btn-group"
                 role="group"
                 aria-label="{{ 'lag_admin.list.available_actions_for_item'|trans({}, 'admin') }}">
                {% for link in operation.itemActions %}
                    {{ lag_admin_action(link, data) }}
                {% endfor %}
                <button href="#"
                        class="btn btn-primary">
                    {{ 'lag_admin.delete.confirmation'|trans({}, resource.translationDomain) }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
