{% extends '@LAGAdmin/crud/operation.base.html.twig' %}

{% block content %}
    <div class="admin-index admin-{{ resource.name }} admin-{{ operation.name }}">
        {% block form %}
            {{ form_start(form) }}

            {% block form_content %}
                <div class="row">
                    {% for child in form %}
                        <div class="col-6">
                            {{ form_row(child) }}
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}

            {% block form_buttons %}
                <div class="row mt-3 justify-content-end">
                    <div class="col-5 text-end">
                        <div class="btn-group">
                            {% for action in operation.itemActions %}
                                {{ lag_admin_action(action, data) }}
                            {% endfor %}
                            <button type="submit"
                                    class="btn btn-primary">
                                {{ 'lag_admin.ui.save'|trans({}, operation.resource.translationDomain) }}
                            </button>
                        </div>
                    </div>

                </div>
            {% endblock %}

            {{ form_end(form) }}
        {% endblock %}
    </div>
{% endblock %}
