{% extends admin.base %}

{% block page_title %}
    {{ action.title }}
{% endblock %}

{% block title %}
    {{ action.title }}
{% endblock %}

{% block content %}
    {% set form = admin.forms.entity %}

    {% block form %}
        <div class="card">
            {{ form_start(form, {attr: {class: 'card-body'}}) }}
            {{ form_errors(form) }}

            {% block form_widgets %}
                {{ form_row(form) }}
            {% endblock %}

            {% block form_rest %}
                {{ form_rest(form) }}
            {% endblock %}

            {% block form_actions %}
                <div class="text-end">
                    <div class="text-right btn-group"
                         role="group">

                        {% if admin_action_allowed(admin.name, 'index') %}
                            <a href="{{ admin_url(admin.name, 'index') }}"
                               class="btn btn-light"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;
                                {{ 'cancel'|admin_trans_key }}</a>
                        {% endif %}

                        {% block submit_action %}
                            <button type="submit"
                                    value="save"
                                    name="submit"
                                    class="btn btn-success">
                                <i class="fa fa-save"></i>
                                {{ 'save'|admin_trans_key }}
                            </button>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
            {{ form_end(form) }}
        </div>
    {% endblock %}
{% endblock %}
