{% extends config.layout %}

{% block left %}
    <ul class="nav nav-pills nav-stacked">
        {% if admin.hasAction('list') %}
            <li><a href="{{ path(admin.action('list').route) }}">{{ admin.action('list').title }}</a></li>
        {% endif %}
        {% if admin.hasAction('create') %}
            <li><a href="{{ path(admin.action('create').route) }}">{{ admin.action('create').title }}</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    {% set containerClass = containerClass is defined ? containerClass : '' %}
    {% set encType = (form.vars.multipart) ? 'multipart/form-data' : 'application/x-www-form-urlencoded' %}

    <h1>{{ admin.currentAction.title }}</h1>

    <div class="well {{ containerClass }}">
        <form action="{{ path(admin.currentAction.route, { id: form.vars.value.id}) }}" method="post"
              class="form-horizontal" enctype="{{ encType }}">
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="text-right button-list">
                    <a href="{{ path(admin.action('list').route) }}"
                       class="btn"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;
                        {{ 'bluebear.admin.cancel' | trans }}</a>
                    <a href="{{ path(admin.action('delete').route, {id: admin.entity.id}) }}"
                       class="btn btn-danger">{{ 'bluebear.admin.delete' | trans }}
                        <i class="fa fa-remove"></i>
                    </a>
                    <button type="submit" value="save" name="submit"
                            class="btn btn-default">{{ 'bluebear.admin.save' | trans }}
                        <i class="fa fa-floppy-o"></i></button>
                    <button type="submit" value="save-return" name="submit"
                            class="btn btn-default">{{ 'bluebear.admin.save_and_return_to_list' | trans }}
                        <i class="fa fa-list"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

