{% extends config.layout %}

{% use "BlueBearAdminBundle:Form:fields.html.twig" %}

{% block left %}
    <ul class="nav nav-pills nav-stacked">
        {% if admin.hasAction('list') %}
            <li><a href="{{ path(admin.action('list').route) }}">{{ admin.action('list').title }}</a></li>
        {% endif %}
        {% if admin.hasAction('create') %}
            <li><a href="{{ path(admin.action('create').route) }}">{{ admin.action('create').title }}</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ admin.currentAction.title }}</h1>
    <div class="pencils-list">
        {{ block('admin_list') }}
    </div>
{% endblock %}