{% extends operation.baseTemplate %}

{% block page_title %}{{ operation.title|admin_trans }} - {{ parent() }}{% endblock %}

{% block title %}{{ operation.title|admin_trans }}{% endblock %}

{% block content %}
    <div class="admin-container admin-{{ resource.name }} admin-{{ operation.name }}">
        {% block form %}
            {% if form %}
                {{ form_start(form) }}

                {% block form_content %}
                    {% include operation.formTemplate|default('@LAGAdmin/forms/form.html.twig') %}
                {% endblock %}

                {% block form_buttons %}
                    <hr>
                    <div class="row mt-3 justify-content-end">
                        <div class="col-5 text-end">
                            <div class="btn-group">
                                {% if operation.resource.hasOperation('index') %}
                                    <a href="{{ lag_admin_url(operation.resource.name, 'index') }}"
                                       class="btn btn-light">
                                        {{ 'lag_admin.ui.cancel'|trans({}, 'admin') }}
                                    </a>
                                {% endif %}

                                <button type="submit"
                                        class="btn btn-primary">
                                    {{ 'lag_admin.ui.save'|trans({}, 'admin') }}
                                </button>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {{ form_end(form) }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
