{% extends baseTemplate|default('@LAGAdmin/base.html.twig') %}

{% block page_title %}{{ operation.title|trans({}, lag_admin.resource.translationDomain) }} - {{ parent() }}{% endblock %}

{% block title %}
    {% if operation.title %}
        <h1 class="h3 mb-4 mt-4 border-bottom">
            {{ operation.title|trans({}, lag_admin.resource.translationDomain) }}
        </h1>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="admin-container admin-{{ resource.name }} admin-{{ operation.name }}">
        {% block form %}
            {% if form is defined %}
                {{ form_start(form) }}

                {% block form_content %}
                    {% include operation.formTemplate|default('@LAGAdmin/forms/form.html.twig') %}
                {% endblock %}

                {% block form_buttons %}
                    <hr>
                    <div class="row">
                        <div class="col-6 text-start">
                            {% block cancel %}
                                {% if resource.hasOperation('index') %}
                                    <a href="{{ lag_admin_url(resource.operation('index').fullName) }}"
                                       class="btn btn-light">
                                        {{ 'lag_admin.ui.cancel'|trans({}, 'admin') }}
                                    </a>
                                {% endif %}
                            {% endblock %}
                        </div>

                        <div class="col-6 text-end">
                            {% block submit %}
                                <button type="submit"
                                        class="btn btn-primary">
                                    {{ 'lag_admin.ui.save'|trans({}, 'admin') }}
                                </button>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

                {{ form_end(form) }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
