<!doctype html>
<html lang="{{ admin_config('locale') }}">
<head>
    <title>
        {% block title %}{{ admin_config('title') }}{% endblock %}
    </title>
    {% block meta %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="{{ admin_config('description') }}"/>
    {% endblock %}

    {% block stylesheets %}
        {% if admin_config('bootstrap') %}
            <link rel="stylesheet" href="{{ asset('/bundles/lagadmin/css/admin.css') }}">
        {% endif %}
    {% endblock %}
</head>

{% block body %}
    {% set admin = admin|default(null) %}

    <body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            {% if admin_config('enable_homepage') %}
                <a class="navbar-brand"
                   href="{{ path('lag.admin.homepage') }}">{{ admin_config('title') }}</a>
            {% endif %}

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-light"
                 id="navbarSupportedContent">
                {% if admin_has_menu('top') %}
                    {{ admin_menu('top', admin) }}
                {% endif %}
            </div>
        </nav>
    {% endblock %}

    {% block container %}
        <div id="admin-main-container" class="container-fluid">
            <div class="row">
                {% block layout %}
                    {% block left_menu %}
                        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                            {% if admin_has_menu('left') %}
                                {{ admin_menu('left', admin) | raw }}
                            {% endif %}
                        </nav>
                    {% endblock %}

                    {% block content_container %}
                        <main class="col-8"
                              role="main">

                            {% block flash_messages %}
                                {% include "@LAGAdmin/Layout/flash_messages.html.twig" %}
                            {% endblock %}

                            {% block content %}{% endblock %}
                        </main>
                    {% endblock %}

                    {% block right_menu %}
                        <div class="col-1 col-xl-2">
                            {% if admin_has_menu('right') %}
                                {{ admin_menu('right', admin) }}
                            {% endif %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <footer>

            {% block javascripts %}
                <script src="{{ asset('bundles/lagadmin/js/admin.js') }}"></script>
            {% endblock %}
        </footer>
    {% endblock %}
    </body>
{% endblock %}
</html>

