<!doctype html>
<html lang="{{ admin_config('locale') }}">
<head>
    <title>
        {% block title %}{{ admin_config('title') }}{% endblock %}
    </title>
    {% block meta %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="{{ admin_config('description') }}"/>
    {% endblock %}

    {% block stylesheets %}
        {% if admin_config('bootstrap') %}
            <link rel="stylesheet" href="{{ asset('/bundles/lagadmin/css/admin.css') }}">
        {% endif %}
    {% endblock %}
</head>

{% block body %}
    <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand"
           href="#">{{ admin_config('title') }}</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
        {#<header class="navbar navbar-light bg-light flex-column flex-md-row bd-navbar">#}
            {#<a href="{{ path('admin.homepage') }}" class="navbar-brand">#}
                {#{% block brand %}{{ admin_config('title') }}{% endblock %}#}
            {#</a>#}

            {#{% if is_granted('ROLE_USER') %}#}
                {#{% block top_menu %}#}
                    {#<div class="navbar-nav">#}
                        {#{{ admin_menu_render('top') | raw }}#}
                    {#</div>#}
                {#{% endblock %}#}

                {#{% block user_menu %}#}
                    {#<div class="pull-right2">#}
                        {#{{ 'lag.admin.welcome_message' | trans({'%username%': app.user.username }) }}&nbsp;#}
                        {#<a href="{{ path('logout') }}">#}
                            {#<i class="fa fa-sign-out"></i>#}
                        {#</a>#}
                    {#</div>#}
                {#{% endblock %}#}
            {#{% endif %}#}
        {#</header>#}
    {% endblock %}
    <br/>
    <br/>
    <br/>
    {% block container %}
        <div class="container-fluid">
            <div class="row">

                {% block layout %}
                    {% block left_menu %}
                        {{ admin_menu('left') | raw }}
                    {% endblock %}
                    {#<div id="main-menu-container"#}
                         {#class="col-4 col-xl-2"#}
                         {#role="navigation">#}

                        {#{% if is_granted('ROLE_USER') %}#}
                            {#{% block left_menu %}#}
                                {#test ?#}
                                {#{{ admin_menu_render('main') | raw }}#}
                            {#{% endblock %}#}
                        {#{% endif %}#}
                    {#</div>#}

                {% block content_container %}
                    <main class="col-8"
                          role="main">

                        {% block flash_messages %}
                            {% include "LAGAdminBundle:Layout:flash_messages.html.twig" %}
                        {% endblock %}

                        {% block content %}{% endblock %}
                    </main>
                {% endblock %}
                {% endblock %}

                {% block right_menu_container %}
                    <div class="col-1 col-xl-2">
                        {% block right_menu %}
                            {#{{ admin_menu_render('right') }}#}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <footer>

            {% block javascripts %}
                <script src="{{ asset('bundles/lagadmin/js/admin.js') }}"></script>
            {% endblock %}
        </footer>
    {% endblock %}
    </body>
{% endblock %}
</html>

