{% extends '@LAGAdmin/base.html.twig' %}

{% block body %}
    <body class="bg-gradient-primary">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6 admin-login-container">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    {% block login_form %}
                                        {{ form_start(form, {attr: {class: 'user', action: '/login-check'}}) }}
                                        {{ form_row(form._login) }}
                                        {{ form_row(form._password) }}
                                        <input type="submit"
                                               class="btn btn-primary btn-user btn-block"
                                               value="{{ 'lag.admin.login'|trans }}">
                                        {{ form_end(form) }}
                                    {% endblock %}

                                    {% block social_login %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
