<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    {% block meta %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% endblock %}

    {% block favicon %}
        <link rel="shortcut icon"
              href="{{ asset('/bundles/lagadmin/favicon.ico') }}"
              type="image/x-icon">
        <link rel="icon"
              href="{{ asset('/bundles/lagadmin/favicon.ico') }}"
              type="image/x-icon">
    {% endblock %}

    <title>{% block page_title %}Admin{% endblock %}</title>

    {% block admin_stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
              rel="stylesheet">
        <link href="{{ asset('/bundles/lagadmin/admin.css') }}"
              rel="stylesheet">
    {% endblock %}

    {% block stylesheets %}{% endblock %}

    {% block admin_javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        <script src="{{ asset('/bundles/lagadmin/admin.js') }}"
                defer="defer"></script>
    {% endblock %}

    {% block javascripts %}{% endblock %}

    {% block head %}{% endblock %}
</head>

{% block body %}
    <body>
    {% block header %}
        {% include '@LAGAdmin/layout/header.html.twig' %}
    {% endblock %}

    {% block container %}
        <div class="container-fluid">
            {% include '@LAGAdmin/session/flash_messages.html.twig' %}

            {% block layout %}
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                        {% block sidebar %}
                            {% include '@LAGAdmin/layout/sidebar.html.twig' %}
                        {% endblock %}
                    </div>
                    <div class="col py-3">
                        {% block title %}{% endblock %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block modal %}
        {% include '@LAGAdmin/modal/modal.html.twig' %}
    {% endblock %}
    </body>
{% endblock %}
</html>
