<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    {% block meta %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description"
              content="{{ lag_admin_config('description') }}"/>
    {% endblock %}

    {% block favicon %}
        <link rel="shortcut icon"
              href="{{ asset('/bundles/lagadmin/favicon.ico') }}"
              type="image/x-icon">
        <link rel="icon"
              href="{{ asset('/bundles/lagadmin/favicon.ico') }}"
              type="image/x-icon">
    {% endblock %}

    <title>{% block page_title %}{{ lag_admin_config('title') }}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet"
              href="{{ asset('/bundles/lagadmin/admin.css') }}"/>
        <link rel="stylesheet"
              href="{{ asset('/bundles/lagadmin/bootstrap.css') }}"/>
        <link rel="stylesheet"
              href="{{ asset('/bundles/lagadmin/choice-js.css') }}"/>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('/bundles/lagadmin/admin.js') }}"
                defer="defer"></script>
        <script src="{{ asset('/bundles/lagadmin/bootstrap.js') }}"
                defer="defer"></script>
    {% endblock %}

    {% block head %}{% endblock %}
</head>

{% block body %}
    <body>
    {% block header %}
        {% include '@LAGAdmin/layout/header.html.twig' %}
    {% endblock %}

    {% block container %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                {% block sidebar %}
                    {% include '@LAGAdmin/layout/sidebar.html.twig' %}
                {% endblock %}
            </div>
            <div class="col py-3">
                <div class="card p-2">
                    <div class="card-body">
                        <div class="card_title">
                            {% block title_container %}
                                <h1 class="h3 mb-4 text-gray-800">{% block title %}{% endblock %}</h1>
                            {% endblock %}
                        </div>
                        <div class="card_text">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block modal %}
        {% include '@LAGAdmin/modal/modal.html.twig' %}
    {% endblock %}

{#    {% if admin_media_enabled() %}#}
{#        {% include '@JKMedia/Modal/modal.html.twig' %}#}
{#    {% endif %}#}
    </body>
{% endblock %}
</html>
