{% extends config.getParameter('base_template') %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <form action="{{ path(admin.action('delete').configuration.route, {id: admin.uniqueEntity.id}) }}" method="post">
                    <div class="form-group">
                        {{ 'lag.admin.deleting' | trans({'%entity%' : admin.entityLabel, '%id%': admin.uniqueEntity.id}) }}
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <div class="text-right button-list">
                            <a href="{{ path(admin.action('list').configuration.route) }}" class="btn">
                                <i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;{{ 'lag.admin.cancel' | trans }}</a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-remove"></i>&nbsp;&nbsp;{{ 'lag.admin.delete' | trans }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
