{% extends config.getParameter('base_template') %}

{% block content %}
    {% set containerClass = containerClass is defined ? containerClass : '' %}
    {% set encType = (form.vars.multipart) ? 'multipart/form-data' : 'application/x-www-form-urlencoded' %}

    <h1 class="page-header">{{ admin.currentAction.title | trans }}</h1>

    <div class="panel panel-default {{ containerClass }}">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    {{ form_errors(form) }}

                    <form method="post" role="form" title="{{ admin.currentAction.title | trans }}" enctype="{{ encType }}">
                        {{ form_widget(form) }}

                        <div class="form-group">
                            <div class="text-right button-list">
                                <a href="{{ path(admin.action('list').configuration.getParameter('route')) }}"
                                   class="btn"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;
                                    {{ 'lag.admin.cancel' | trans }}</a>

                                {% if admin.uniqueEntity.id %}
                                    <a href="{{ path(admin.generateRouteName('delete'), {id: admin.uniqueEntity.id}) }}"
                                       class="btn btn-danger">{{ 'lag.admin.delete' | trans }}
                                        <i class="fa fa-remove"></i>
                                    </a>
                                {% endif %}

                                <button type="submit" value="save" name="submit"
                                        class="btn btn-default">{{ 'lag.admin.save' | trans }}
                                    <i class="fa fa-floppy-o"></i></button>
                                <button type="submit" value="save-return" name="submit"
                                        class="btn btn-success">{{ 'lag.admin.save_and_return_to_list' | trans }}
                                    <i class="fa fa-list"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ tinymce_init() }}
{% endblock %}
