{% macro actionLink(action) %}
    <a href="{{ path(action.configuration.route, action.configuration.parameters) }}"
       target="{{ action.configuration.target }}" title="{{ action.title | trans }}">
        {% if action.configuration.icon %}
            <i class="fa fa-{{ action.configuration.icon }}"></i>
        {% endif %}
        {{ action.title | trans }}
    </a>
{% endmacro %}
