{% macro actionLink(action, entity) %}
    <a href="{{ path(action.configuration.route, route_parameters(action.configuration.parameters, entity)) }}"
       target="{{ action.configuration.target }}" title="{{ action.title | trans }}">
        {% if action.configuration.icon %}
            <i class="fa fa-{{ action.configuration.icon }}"></i>
        {% endif %}
        {{ action.title | trans }}
    </a>
{% endmacro %}
