{% import '@LAGAdmin/grids/macro/helpers.html.twig' as lag_admin %}

<table {{ attributes.defaults({'class': 'admin-table table table-responsive align-middle'}) }}>
    {% if displayHeaders %}
        <thead>
        {{ component('lag_admin:grid:table_row', {

        }) }}
        <tr {{ headerRowAttributes }}>
            {%- for header in grid.headers -%}
                <th {{ header.attributes.defaults({'class': 'text-dark'}) }}>
                    {{ component('lag_admin:grid_header', {header: header}) }}
                </th>
            {%- endfor -%}

            {% if grid.extraColumn %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
    {% endif %}

    {% block table_body %}
        {% if grid.rows|length > 0 %}
            <tbody>
            {% for row in grid.rows %}
                <tr{{ rowAttributes.defaults(row.attributes) }}>
                    {% for cell in row.cells %}
                        <td{{ cellAttributes.defaults(cell.rowAttributes) }}>
                            {{ component('lag_admin:grid_cell', {'cell': cell}) }}
                        </td>
                    {% endfor %}

                    {% if row.actions|length > 0 or grid.extraColumn %}
                        <td {{ actionCellAttributes.defaults({class: 'text-end'}) }}>
                            <div class="btn-group">
                                {% for action in row.actions %}
                                    {{ component('lag_admin:grid_cell', {'cell': action}) }}
                                {% endfor %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ grid.headers|length + 1 }}">
                        {% block empty_message %}
                            {% if grid.emptyMessage %}
                                {{ grid.emptyMessage|trans({}, grid.translationDomain) }}
                            {% else %}
                                {{ 'lag_admin.ui.no_record'|trans({}, 'admin') }}
                            {% endif %}
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    {% endblock %}

    {% block table_footer %}{% endblock %}
</table>
