<a href="{{ data }}" {{ attributes.defaults({class: 'btn'}) }}>
    {% if options.icon %}<i class="bi {{ options.icon }}"></i>{% endif %}

    {% if options.translatable %}
        {{ options.label|trans({}, options.translationDomain) }}
    {% else %}
        {{ options.label }}
    {% endif %}
</a>
