<a href="{{ lag_admin_resource_url(options, context['original_data']|default([])) }}" {{ attributes }}>
    {% if options.icon %}<i class="bi bi-{{ options.icon }}"></i>{% endif %}

    {% if options.translatable %}
        {{ data|trans(options.translationParameters, options.translationDomain) }}
    {% else %}
        {{ data }}
    {% endif %}
</a>
