<a href="{{ lag_admin_resource_url(options, context['row_data']) }}" {{ attributes }}>
    {% if options.icon %}<i class="bi bi-{{ options.icon }}"></i>{% endif %}

    {% set text = options.label ?: data %}

    {% if options.translatable %}
        {{ text|trans({}, options.translationDomain) }}
    {% else %}
        {{ text }}
    {% endif %}
</a>
