{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{# Extend bootstrap layout to match with bootstrap admin theme #}
{% block form_row -%}
    {% spaceless %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{%- endblock form_row %}

{# overriding default label class #}
{% block form_label_class -%}{%- endblock form_label_class %}

{% block form_help -%}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'data-help' %}
            <span class="help-block">{{ attrvalue | trans }}</span>
        {% endif %}
    {% endfor %}
{%- endblock form_help %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}

        <ul class="list-unstyled">
            {%- for error in errors -%}
                <li><span class="fa fa-exclamation-triangle"></span> {{ error.message }}</li>
            {%- endfor -%}
        </ul>

        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}

    {{- block('form_help') -}}
{%- endblock form_errors %}

{% block form_group_class -%}
    col-sm-12
{%- endblock form_group_class %}
