{% extends admin.base %}

{% block content %}

    {% set form = admin.forms.entity %}

    {% block form %}
        {# TODO use the form start/end helper #}
        {#        {{ form_start() }}#}
        <form action=""
              method="post"
              role="form"
              name="{{ form.vars.name }}"
              enctype="multipart/form-data"
              class="admin-form{{ ' ' ~ form.vars.attr.class | default('') }}">

            {% include '@LAGAdmin/CRUD/_title.html.twig' %}

            {% include '@LAGAdmin/CRUD/edit/_buttons.html.twig' %}

            {{ form_errors(form) }}

            {% block form_widgets %}
                {{ form_row(form) }}
            {% endblock %}

            {% block form_rest %}
                {{ form_rest(form) }}
            {% endblock %}

            {% include '@LAGAdmin/CRUD/edit/_buttons.html.twig' %}
        </form>
    {% endblock %}
{% endblock %}
